DATABASE_URL=postgresql+asyncpg://{username}:{password}@localhost:5432/triage
WEBHOOK_SHARED_SECRET=secret

KAFKA_BOOTSTRAP_SERVERS=localhost:9092

KAFKA_TOPIC_TESTABLE_READY_FOR_TESTING=TESTABLE_READY_FOR_TESTING
KAFKA_TOPIC_MEMBER_AVAILABILITY_CHANGED=MEMBER_AVAILABILITY_CHANGED
KAFKA_TOPIC_ASSIGNMENT_COMPLETED=ASSIGNMENT_COMPLETED

KAFKA_TOPIC_TESTABLE_READY_FOR_TESTING_DLQ=TESTABLE_READY_FOR_TESTING_DLQ
KAFKA_TOPIC_MEMBER_AVAILABILITY_CHANGED_DLQ=MEMBER_AVAILABILITY_CHANGED_DLQ
KAFKA_TOPIC_ASSIGNMENT_COMPLETED_DLQ=ASSIGNMENT_COMPLETED_DLQ
